{% comment %}
** FAQ **
{% endcomment %}

{% assign id = section.id %}
{% assign title = section.settings.title %}
{% assign img_border_radius = section.settings.border_radius %}
{% comment %} Layout {% endcomment %}
{% assign width = section.settings.width %}
{% assign animation = section.settings.animation | default: 'none' %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}
{%- assign image_position = section.settings.image_position -%}
{% assign show_on_page = section.settings.link %}

{% assign visible_true = false %}
{% if show_on_page == blank %}
    {% assign visible_true = true %}
{% else %}
  {% if section.settings.link == page.handle  %}
    {% assign visible_true = true %}
  {% endif %}
{% endif %}

{% if visible_true %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for block in section.blocks %}
      {% unless block.type == 'heading' %}
        {
          "@type": "Question",
          "name": "{{ block.settings.title | escape }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.answer | strip_html }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  ]
}
</script>

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
  .faq-accordion dt .accordion-style--carets[aria-expanded="true"] .minu_icon {
	display: inline-grid;
	float: right;
}
  .faq-accordion dt .accordion-style--carets[aria-expanded="true"] .plus_icon {
	display: none;
}
    .faq-accordion dt .accordion-style--carets[aria-expanded="false"] .minu_icon {
	display: none;
}
  .page-foundation-heart-health .faq-title{
    text-align: left;
  }
  .page-foundation-heart-health .faq-accordion dt button{
    padding-left: 0;
  }
  .faq-title{
    text-align: center;
  }
  .accordion dd, .faq-accordion dd {
	padding: 20px 20px 20px 0px;
}
  .faq .image-element__wrap {
	border-radius: 10px;
}
  .faq-accordion dt button[aria-expanded="true"], .faq-accordion dt button:hover {
  background-color: unset;
}
  .faq-accordion dt button {
  color: #005895;
  font-size: 20px;
  font-family: Arimo-Bold;
}
  .faq-accordion p {
	font-family: Lora-regular;
	font-size: 16px;
}
  @media screen and (min-width: 768px) {
  .padd-left {
    padding-left: 40px;
  }
  }
  @media only screen and (max-width: 767px) {
  .video_slide .flickity-prev-next-button.previous {
    left: 7px !important;
  }
  .image-slideshow-position--right .flickity-buttons-container {
    top: 23% !important;
    transform: translateY(-45%) !important;
    bottom: unset;
    }
    .faq-title{
      font-size: 24px;
    }
    .btn_faq{
      text-align: center;
    }
  }
{% endstyle %}

{% capture icon_set %}
{% if settings.toggle_icon_style == 'carets' %}
  {% render 'icon',
          name: 'down-caret',
          icon_class: 'icon--rotate'
  %}
{% else %}
  {% render 'icon',
          name: 'plus',
          icon_class: 'icon--active'
  %}
  {% render 'icon', name: 'minus' %}
{% endif %}
{% endcapture %}

<section class="section
        {{ css_class }}
        is-width-{{ width }}
        has-gutter-enabled
        {% if width == 'wide' %}
          equal-columns--outside-trim
        {% endif %}"
        {% if animation != "none" %}data-scroll-class="{{ animation }}"{% endif %}>
  <div class="container">
    {%- if title != blank -%}
      {% render 'heading',
              title: title,
              heading_tag: 'h2',
              context: 'faq',
              text_alignment: 'center'
      %}
    {%- endif -%}

    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
          {% assign image = true %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% capture faq %}
<div class="{% if image == true %}one-half{% else %}one-whole{% endif %} medium-down--one-whole column faq faq__column-1 {% if image_position == "left" %} padd-left {% endif %}">
        {% if section.blocks.size > 0 %}
          <dl class="{{ section.settings.css_class }}
                    faq-accordion
                    accordion-icon--{{ settings.toggle_icon_style }}">
            {% for block in section.blocks %}
              {% if block.type == 'content' %}

                {% if block.settings.title != blank %}
                  <dt>
                    <button class="accordion-style--{{ settings.toggle_icon_style }} accordion__button" type="button" aria-controls="panel-{{ block.id }}" aria-expanded="true">
                       
                      {{ block.settings.title }}
                  <div class="icon_faq">
                  {%  render 'icon-plus' %}
                  {%  render 'icon-minus' %}
                  </div>
                    </button>
                  </dt>
                  <dd id="panel-{{ block.id }}" aria-hidden="false">
                    <div class="content">
                      {{ block.settings.answer }}
                      {% if block.settings.image != blank %}
                        <img class="cruelry" src="{{ block.settings.image | img_url:'original'}}">
                      {% endif %}
                    </div>
                  </dd>
                {% endif %}

              {% elsif block.type == 'heading' %}

                {% if block.settings.title != blank %}
                  <h2 class="title faq-title">{{ block.settings.title }}</h2>
                {% endif %}
                 {% if block.settings.content != blank %}
                  <p class="content_faq">{{ block.settings.content }}</p>
                {% endif %}
              {% endif %}

            {% endfor %}
          </dl>
        {% endif %}
  {% if section.settings.button != blank %}
    <div class="btn_faq">
      <a class="button button--primary margin_top" href="{{ section.settings.link_btn }}">{{ section.settings.button }}</a>
    </div>
  {% endif %}
      </div>
    {% endcapture %}
    {% capture image %}
          {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'image' %}
            <div class="one-half medium-down--one-whole column faq  {% if image_position == "right" %} faq--image faq__column-2 {% endif %}">
              {% if block.settings.image != blank %}
                  {% render 'image-element',
                          image: block.settings.image,
                          alt: block.settings.image.alt,
                          stretch_width: true
                  %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endcapture %}
    <div class="page-faq__column-wrap container column-wrapper">
      
      {% if image_position == "left" %}
        {{ image }}
        {{ faq }}
      {% else %}
        {{ faq }}
        {{ image }}
      {% endif %}
    </div>
  </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const sectionId = 'shopify-section-{{ id }}';
  const section = document.getElementById(sectionId);

  if (!section) return;

  const accordionButtons = section.querySelectorAll('.accordion__button');

  function hideAllPanels() {
    section.querySelectorAll('dd').forEach(dd => {
      dd.style.display = 'none';
      dd.setAttribute('aria-hidden', 'true');
    });
    accordionButtons.forEach(button => {
      button.setAttribute('aria-expanded', 'false');
    });
  }

  function showPanel(button, ddElement) {
    ddElement.style.display = 'block';
    ddElement.setAttribute('aria-hidden', 'false');
    button.setAttribute('aria-expanded', 'true');
  }

  // Initially hide all panels
  hideAllPanels();

  // Show the first dd by default
  const firstDd = section.querySelector('dd');
  if (firstDd) {
    showPanel(firstDd.previousElementSibling.querySelector('.accordion__button'), firstDd);
  }

  accordionButtons.forEach(button => {
    button.addEventListener('click', function() {
      const ddId = button.getAttribute('aria-controls');
      const ddElement = section.querySelector(`#${ddId}`);
      const isExpanded = button.getAttribute('aria-expanded') === 'true';

      // If the clicked panel is already open, close it
      if (isExpanded) {
        ddElement.style.display = 'none';
        ddElement.setAttribute('aria-hidden', 'true');
        button.setAttribute('aria-expanded', 'false');
      } else {
        // Otherwise, hide all panels and show the clicked one
        hideAllPanels();
        if (ddElement) {
          showPanel(button, ddElement);
        }
      }
    });
  });
});

</script>
<!-- <script data-theme-editor-load-script src="{{ 'z__jsFAQ.js' | asset_url }}"></script> -->
{% endif %}

{% schema %}
{
  "name": "FAQ",
  "class": "FAQ jsFAQ",
  "settings": [
    {
      "type": "page",
      "id": "link",
      "label": "Link",
      "info": "Page list"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "link_btn",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
     {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 56,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 56,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "name": "Frequently asked question",
      "type": "content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "What is your question?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Provide the answer to the question here.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1000 x 1000px recommended"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Section heading"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "content"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1000 x 1000px recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Store information",
      "blocks": [
        {
          "type": "heading",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {

          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "heading",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}